html {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  background-color: #fffc9c;
  }
  .logo{
    background-color: #fff952;
    margin: 0px;
  }
  .logo img{
    width: 220px;
    height: 220px;
  }
  .info 
  {
    background-color: #fff952;
    color: #000;
  }
  /* cabecera */
  a.menuc:hover
  {
      background-color: #8d54ff;
  }
  a.menuc0:hover
  {
      background-color: #8d54ff;
  }
  .menuc
  {
    border-right:solid 2px #999;
    border-left:solid 2px #999;
    padding:0px 10px ;
    border-collapse: separate;
    border-spacing: 10px 5px;
    position:relative;
    left:80px;
    text-decoration: none;
    font-size: 25px;
    color: black;
  }
  .menuc0
  {
    border-right:solid 2px #999;
    border-left:solid 2px #999;
    padding:0px 10px ;
    border-collapse: separate;
    border-spacing: 10px 5px;
    position: relative;
    left:80px;
    text-decoration: none;
    font-size: 25px;
    color: black;
  }
  .info img
  {
    width:40px;
    height:40px ;
  }
  .separacion
  {
    position: relative;
    left:295px;
  }
  /* cabecera */


  /*contenido*/
  .columna
  {
    border-right: #fff952 solid 20px;
    border-left: #fff952 solid 20px;
  }
  /* pie */
  footer
  {
    background-color: #fff952;
  }
  .pie a 
  {
    text-decoration: none;
  }
  a.footer:hover
  {
    text-decoration: underline;
    color: #999;
    text-decoration-color: #999;
  }
  .pie img
  {
    width: 40px;
    height: 40px;
  }
  .piered
  {
    position: relative;
    top: -13px;
    color: black;
  }
  .pie1
  {
    margin-right:140px;
  }
  .pie2
  {
    margin-right:140px;
  }
  .pie2 h3
  {
    position: relative;
    margin-top: -17px;
    margin-bottom: 40px;
  }
  .piefield3
  {
    width: 300px;
    height: 150px;
    margin-right:140px;
    position: relative;
    margin-top: -70px;
    margin-bottom:0px;
  }
  .piefield4
  {
    width: 300px;
    height: 150px;
    margin-right:0px;
    position: relative;
    margin-top: -70px;
    margin-bottom:0px;
  }



  /*Contenido*/


.tw
{
  margin-left:1220px;
}

/*Slider*/

.slider {
	width: 650%;
	margin-left: 100px;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 500%;
	
	animation: cambio 40s infinite alternate linear;
}

.slider li {
	width:500%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	15% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	40% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	65% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/*Slider*/

/*Cuerpo*/
.columna h1
{
text-align: center;
}
.columna h2
{
  color: #777;
  text-align: center;
}
.columna p
{
  text-align: center;
}
.imgmenu
{
  
}


