html {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  }
  .logo{
    background-color: #fff952;
    margin: 0px;
  }
  .logo img{
    width: 180px;
    height: 180px;
  }
  .info 
  {
    background-color: #fff952;
  }
  a.menuc:hover
  {
      background-color: #8d54ff;
  }
  a.menuc0:hover
  {
      background-color: #8d54ff;
  }
  .menuc
  {
    border-right:solid 2px #999;
    padding:0px 10px ;
    border-collapse: separate;
    border-spacing: 10px 5px;
    position:relative;
    left:80px;
    text-decoration: none;
  }
  .menuc0
  {
    border-right:solid 2px #999;
    border-left:solid 2px #999;
    padding:0px 10px ;
    border-collapse: separate;
    border-spacing: 10px 5px;
    position: relative;
    left:80px;
    text-decoration: none;
  }
  .info img
  {
    width:40px;
    height:40px ;
  }
  .separacion
  {
    position: relative;
    left:350px;
  }