html {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  }
  .logo{
    background-color: #fff952;
    margin: 0px;
  }
  .logo img{
    width: 180px;
    height: 180px;
  }
  .info 
  {
    background-color: #fff952;
  }
  .menuc
  {
    border-right:solid 2px #999;
    padding:0px 10px ;
    border-collapse: separate;
    border-spacing: 10px 5px;
    position:relative;
    left:50px;
  }
  .menuc0
  {
    border-right:solid 2px #999;
    border-left:solid 2px #999;
    padding:0px 10px ;
    border-collapse: separate;
    border-spacing: 10px 5px;
    position: relative;
    left:50px;
  }
  .info img
  {
    margin-left: 2px;
    width:40px;
    height:40px ;
    
  }
  .separacion{
    position: relative;
    left: 700px;
  }